<ng-template #drawerTemplate>
    <mdc-drawer-header>
        <h3 mdcDrawerTitle>
            <a routerLink="/home" class="sidebar-brand">Geek Talent Insights</a>
        </h3>
    </mdc-drawer-header>

    <mdc-drawer-content>
        <mdc-list>
            <a mdc-list-item routerLink="/home" routerLinkActive="mdc-list-item--selected">
                <mdc-icon mdcListItemGraphic>home</mdc-icon>Home
            </a>
            <a mdc-list-item routerLink="/login" routerLinkActive="mdc-list-item--selected" *ngIf="!authService.isLoggedIn || authService.isGuest()">
                <mdc-icon mdcListItemGraphic>lock</mdc-icon> Login
            </a>
            <a mdc-list-item routerLink="/map/compare" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" *ngIf="authService.isLoggedIn" [class.disabled]="!authService.canUseFeature('map-compare')">
                <mdc-icon mdcListItemGraphic>map</mdc-icon> Map</a>
            <a mdc-list-item routerLink="/map/regional-analytics" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" *ngIf="authService.isLoggedIn" [class.disabled]="!authService.canUseFeature('regional-analytics')">
                <mdc-icon mdcListItemGraphic>explore</mdc-icon> Regional analytics
            </a>
            <a mdc-list-item routerLink="/map/local-demand" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" *ngIf="authService.isLoggedIn" [class.disabled]="!authService.canUseFeature('local-demand')">
                <mdc-icon mdcListItemGraphic>my_location</mdc-icon> Local demand
            </a>
            <a mdc-list-item routerLink="/job-market" routerLinkActive="mdc-list-item--selected" *ngIf="authService.isLoggedIn" [class.disabled]="!authService.canUseFeature('job-ad')">
                <mdc-icon mdcListItemGraphic>pageview</mdc-icon>Job ad writer
            </a>
            <a mdc-list-item routerLink="/skill-dna" routerLinkActive="mdc-list-item--selected" *ngIf="authService.isLoggedIn" [class.disabled]="!authService.canUseFeature('skill-dna')">
                <mdc-icon mdcListItemGraphic>fingerprint</mdc-icon> Skill DNA
            </a>
            <!-- <a mdc-list-item routerLink="/demand-analysis" routerLinkActive="mdc-list-item--selected" *ngIf="authService.isLoggedIn" [class.disabled]="!authService.canUseFeature('job-ad')">
                <mdc-icon mdcListItemGraphic>analytics</mdc-icon> Demand analysis
            </a> -->
        </mdc-list>
        <!--Administration-->
        <mdc-list-divider *ngIf="authService.userRoll=='Admin'  && authService.isLoggedIn"></mdc-list-divider> 
        <mdc-list *ngIf="authService.userRoll=='Admin' && authService.isLoggedIn">
                <a mdc-list-item (click)="adminMenuOpen = !adminMenuOpen">
                    <mdc-icon mdcListItemGraphic>home</mdc-icon>Administration
                    <mdc-icon mdcListItemMeta *ngIf="!adminMenuOpen">expand_more</mdc-icon>
                    <mdc-icon mdcListItemMeta *ngIf="adminMenuOpen">expand_less</mdc-icon>
                </a>
        </mdc-list>
        <mdc-list [collapse]="!adminMenuOpen" *ngIf="authService.userRoll=='Admin' && authService.isLoggedIn">
            <a mdc-list-item routerLink="/admin/user-list" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge">
                <mdc-icon mdcListItemGraphic>home</mdc-icon>Manage Users
            </a>
            <a mdc-list-item routerLink="/admin/groups" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge">
                <mdc-icon mdcListItemGraphic>group</mdc-icon>Manage Groups
            </a>
            <a mdc-list-item routerLink="/admin/job-mapping" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge">
                <mdc-icon mdcListItemGraphic>explore</mdc-icon>Manage Mappings
            </a>
        </mdc-list>
        
        <!--Data Entry-->
        <mdc-list-divider *ngIf="authService.isLoggedIn"></mdc-list-divider>
        <mdc-list *ngIf="authService.isLoggedIn">
            <a mdc-list-item [routerLinkActive]="['in', 'show']" (click)="dataMenuOpen = !dataMenuOpen">
                <mdc-icon mdcListItemGraphic>show_chart</mdc-icon>Data
                <mdc-icon mdcListItemMeta *ngIf="!dataMenuOpen">expand_more</mdc-icon>
                <mdc-icon mdcListItemMeta *ngIf="dataMenuOpen">expand_less</mdc-icon>
            </a>
        </mdc-list>
        <mdc-list [collapse]="!dataMenuOpen" *ngIf="authService.isLoggedIn">
            <a mdc-list-item routerLink="/data/careers-clouds" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" [class.disabled]="!authService.canUseFeature('data-graphs')">
                <mdc-icon mdcListItemGraphic>cloud</mdc-icon> Careers clouds
            </a>
            <a mdc-list-item routerLink="/data/skills-clouds" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" [class.disabled]="!authService.canUseFeature('data-graphs')">
                <mdc-icon mdcListItemGraphic>cloud</mdc-icon> Skills clouds
            </a>
            <a mdc-list-item routerLink="/data/careers-graph" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" [class.disabled]="!authService.canUseFeature('data-graphs')">
                <mdc-icon mdcListItemGraphic>sort</mdc-icon> Careers graph
            </a>
            <a mdc-list-item routerLink="/data/skills-graph" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" [class.disabled]="!authService.canUseFeature('data-graphs')">
                <mdc-icon mdcListItemGraphic>sort</mdc-icon> Skills graph
            </a>
            <a mdc-list-item routerLink="/data/experience-graph" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" [class.disabled]="!authService.canUseFeature('data-graphs')">
                <mdc-icon mdcListItemGraphic>insert_chart</mdc-icon> Experience graph
            </a>
            <a mdc-list-item routerLink="/data/staff-joiners-graph" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge" [class.disabled]="!authService.canUseFeature('data-graphs')">
                <mdc-icon mdcListItemGraphic>people</mdc-icon> Staff joiners graph
            </a>
        </mdc-list>
        <mdc-list-divider *ngIf="authService.isLoggedIn"></mdc-list-divider>

        <!--data entry-->
        <mdc-list *ngIf="authService.isLoggedIn && (authService.userRoll=='Client Admin'  || authService.userRoll=='Admin')">
            <a mdc-list-item (click)="dataEntryMenuOpen = !dataEntryMenuOpen">
                <mdc-icon mdcListItemGraphic>edit</mdc-icon>Data entry
                <mdc-icon mdcListItemMeta *ngIf="!dataEntryMenuOpen">expand_more</mdc-icon>
                <mdc-icon mdcListItemMeta *ngIf="dataEntryMenuOpen">expand_less</mdc-icon>
            </a>
        </mdc-list>
        <mdc-list [collapse]="!dataEntryMenuOpen" *ngIf="authService.isLoggedIn">
            <a mdc-list-item routerLink="/data-entry/course-mapping" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge">
                <mdc-icon mdcListItemGraphic>list</mdc-icon> Course mapping
            </a>
            <a mdc-list-item routerLink="/data-entry/workforce-planning" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge">
                <mdc-icon mdcListItemGraphic>list</mdc-icon> Workforce planning
            </a>
        </mdc-list>
        <mdc-list-divider *ngIf="authService.isLoggedIn"></mdc-list-divider>

        <!--dashboards-->
        <mdc-list *ngIf="authService.isLoggedIn && (authService.userRoll=='Client Admin' || authService.userRoll=='Admin')">
            <a mdc-list-item (click)="dashboardMenuOpen = !dashboardMenuOpen">
                <mdc-icon mdcListItemGraphic>dashboard</mdc-icon>Dashboards
                <mdc-icon mdcListItemMeta *ngIf="!dashboardMenuOpen">expand_more</mdc-icon>
                <mdc-icon mdcListItemMeta *ngIf="dashboardMenuOpen">expand_less</mdc-icon>
            </a>
        </mdc-list>
        <mdc-list [collapse]="!dashboardMenuOpen" *ngIf="(authService.userRoll=='Client Admin' || authService.userRoll=='Admin')">
            <a mdc-list-item routerLink="/reports/enquiry-dashboard" routerLinkActive="mdc-list-item--selected" queryParamsHandling="merge">
                <mdc-icon mdcListItemGraphic>list</mdc-icon> Enquiry Report
            </a>
        </mdc-list>

        <!--admin panel-->
        <a mdc-list-item routerLink="/logout" routerLinkActive="mdc-list-item--selected" *ngIf="authService.isLoggedIn">
            <mdc-icon mdcListItemGraphic>lock</mdc-icon> LogOut
        </a>
    </mdc-drawer-content>
</ng-template>

<!--desktop sidebar-->
<mdc-drawer drawer='permanent' class="d-none d-lg-flex dark-theme">
    <ng-container *ngTemplateOutlet="drawerTemplate"> </ng-container>
</mdc-drawer>
<!--mobile sidebar-->
<mdc-drawer drawer='modal' #tempDrawer class="dark-theme">
    <ng-container *ngTemplateOutlet="drawerTemplate"> </ng-container>
</mdc-drawer>

<div id="main-container">
    <nav class="navbar bg-white d-md-none">
        <div class="nav-title">
            <button class="navbar-toggler" type="button" (click)="openDrawer()"><span class="material-icons">menu</span></button>
            <span class="mobile-title">Geek Talent Insights</span>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleSearchCollapsed()" *ngIf="authService.isLoggedIn"><span class="material-icons">search</span></button>
    </nav>
    <router-outlet></router-outlet>
</div>
