<div class="row p-r-1 p-l-1">
    <div class="col-md-12"[@fade]>
        <h2>Experience Graph</h2>
    </div>
    <div class="col-md-12" [@fade]>
        <div class="card" *ngIf="graph3">
            <div class="card-body">
                <app-graph-map [items]="graph3.items" [title1]="graph3.title1" [title2]="graph3.title2" bars="vertical" height="600"></app-graph-map>
            </div>
        </div>
        <div class="card" *ngIf="hasNoData">
            <div class="card-body">
                <alert type="info" [@fade]>No data available for supplied query</alert>
            </div>
        </div>
    </div>
</div>