<div class="container-fluid pb-3">
  <div class="row">
    <div class="col-12">
      <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-outline-danger  mb-0" (click)="regionTypeChanged()" [(ngModel)]="regionType" [btnRadio]="regionTypes.LAU">
            Local Authority
        </button>
        <button class="btn btn-outline-danger  mb-0" (click)="regionTypeChanged()" [(ngModel)]="regionType" [btnRadio]="regionTypes.LEP">
            LEP
        </button>
        <button class="btn btn-outline-danger  mb-0" (click)="regionTypeChanged()" [(ngModel)]="regionType" [btnRadio]="regionTypes.NUTS1">
            NUTS1
        </button>
        <button class="btn btn-outline-danger  mb-0" (click)="regionTypeChanged()" [(ngModel)]="regionType" [btnRadio]="regionTypes.NUTS2">
            NUTS2
        </button>
        <button class="btn btn-outline-danger  mb-0" (click)="regionTypeChanged()" [(ngModel)]="regionType" [btnRadio]="regionTypes.NUTS3">
            NUTS3
        </button>
      </div>
    </div>
  </div>
</div>
<div leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" class="map h-100"></div>